.App {
  text-align: center;
}

/* Main styles and animation on header */

.App-logo {
  height: 10vh;
  pointer-events: none;
  animation: centerYourself 2s forwards;
}

@keyframes centerYourself {
  0% {
    margin-left: 80%;
  }
  100% {
    margin-left: 0%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Form styles */

#my-urls-container {
  width: 50vw;
  height: 60vh;
  display: flex;
  align-items: center;
}

#my-urls-container p {
  font-size: x-large;
}

#my-urls-form {
  width: 100%;
  height: 40%;
}

.form-check-label {
  margin-left: 8px;
}

/* URL Containers */

#unlimited-container {
  width: 50%;
  margin: 0 auto;
  background-color: #8999b4;
  color: rgb(32, 48, 68);
  padding: 0.5rem;
  margin: 1rem auto;
  border-radius: 10px;
}

#limited-container {
  width: 50%;
  margin: 1rem auto;
  background-color: #343a44;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
}
